#alkatriaPagination {
    display:flex;
    position:relative;
}

.auction-page {
	padding: 3px;
	opacity: .8;
	display: inline-block;
	border-radius: 4px;
	color: white;
	width: 16px;
	text-align: center;
	height: 20px;
	font-weight: bold;
	margin-right: 3px;
	background: rgba(0,0,0,0.89);
	cursor: pointer;
	border: 1.8px solid #5e5656;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.88);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.88);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.88);
}

.auction-page.current {
	background: red !important;
}
